.comment {
  padding-top: 30px;
  margin-bottom: 40px;
  border-top: 1px solid #f4f4f4;
  display: flex;
  flex-direction: column;
  width: 100%;
  &:first-child {
    border-top: none;
  }

  .title {
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .tip{
      width: 220px;
      height:54px;
      background: #fefbf5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: $color-333;
      font-weight: bold;
      .tip-logo{
        width: 25px;
        height: 25px;
        margin-right: 8px;
      }
      .tip-money{
        color: #d23a2a;
        padding: 0 3px;
      }
    }
    .management{
      flex: 1;
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      color: $color-background-hover-red2;

      .manage-button {
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          color: $color-red-pay;
        }
      }
      .checking {
        margin-left: 10px;
        color: #FA5151;
      }
    }


  }

  > .container-detail {
    margin-left: 60px;

    > .content-html {
      word-break: break-all;
      margin-top: 10px;
      font-size: 16px !important;
      color: $color-333 !important;
      ::v-deep p {
        font-size: 16px !important;
        color: $color-333 !important;
        letter-spacing: 1px;
      }
      ::v-deep.showAllComment {
        font-size: 16px;
        color: #d23a2a;
        cursor: pointer;
      }
    }

    > .images {
      margin-top: 20px;
      width: 330px;
    }

    > .actions {
      margin: 20px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $font-color-grey;
      font-size: 14px;
      .left{
        flex: 30%;
      }
      > span {
        margin-right: 60px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
          cursor: default;
        }

        > .text {
          margin-left: 5px;
        }
      }
      > .report {
        cursor: pointer;
      }
    }
  }

  > .reply-list {
    position: relative;
    padding: 18px 50px 28px;
    margin-top: 15px;
    background: #f8f8f8;
    cursor: pointer;
    &::before{
      position: absolute;
      left: 60px;
      top: -27px;
      content: '';
      width: 0;
      height: 0;
      border: 14px solid #f8f8f8;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
    }

    > .reply {
      padding-bottom: 10px;
      margin-top: 10px;
      border-top: 1px solid $border-color-base;
      &:first-child {
        border-top: none;
      }

      > .title {
        height:54px;
        display: flex;

        > .title-info {
          margin-left: 10px;
          margin-top: 5px;
          font-size: 16px;
          color: #666;
          flex: 1;

          > .text {
            color: $font-color-grey;
            &.reply {
              margin: 0 10px;
            }
            &.comment-author {
              color: $color-black;
              margin-right: 10px;
            }
          }

          > .delete-reply {
            cursor: pointer;
            font-size: 14px;
            color: $color-background-hover-red2;
            float: right;
            &:hover {
              color: $color-red-pay;
            }
          }

          > .timer {
            margin-top: 5px;
            color: $font-color-grey;
            font-size: 12px;
          }
        }
      }

      &:last-child {
        > .content-html {
          border-bottom: none;
        }
      }

      > .content-html {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 40px;
        word-break: break-all;
        font-size: 16px;
        color: $color-333;
        p{
          font-size: 16px;
          color: $color-333;
          letter-spacing: 1px;
        }
      }

      > .images {
        max-width: 330px;
        margin-left: 40px;
        margin-bottom: 20px;
      }

      > .line {
        margin-left: 40px;
        background: $line-color-base;
        height: 1px;
      }
    }
    .show-all-reply {
      cursor: pointer;
      color: $font-color-grey;
      margin: 20px 0 20px 40px;
    }
  }
}
.adoption-box{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.2);
  z-index: 99;
  .adoption-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 530px;
    height: 420px;
    font-size: 18px;
    color: $color-333;
    border-radius: 10px;
    background:$color-white;
    overflow: hidden;
    .adoption-head{
      width: 100%;
      height: 90px;
      font-size: 30px;
      color: $color-white;
      letter-spacing: 2px;
      text-align: center;
      line-height: 90px;
      background: $color-red-pay;
      border-bottom-right-radius: 50% 25px;
      border-bottom-left-radius: 50% 25px;
    }
    .percent,.money{
      display: flex;
      align-items: center;
      margin-top: 45px;
    }
    .text{
      flex: 0 0 220px;
      padding-left: 100px;
    }
    .reward-percent{
      height: 40px;
      width: 150px;
      margin-right: 20px;
    }
    .reward-money{
      height: 40px;
      width: 150px;
      text-align: center;
      line-height: 40px;
      background: #f8f8f8;
    }
    .btn{
      margin-top: 40px;
      text-align: center;
      .el-button{
        width: 110px;
        height: 40px;
        color: $color-333 !important;
        background: #eeeeee;
        border-color: transparent !important;
        &:hover{
          color: $color-white !important;
          background: $color-red-pay;
        }
      }
    }
  }
}