.isFixed{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 12;
}
.header {
  width: 100%;
  height: 64px;
  background: $color-white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  opacity: 1;
  @media screen and (max-width: 1005px) {
    width: 100%;
    height: 60px;
    min-width: 768px;
  }
  .header-container {
    margin: 0 auto;
    width: 1340px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1005px) {
      width: 100%;
      min-width: 768px;
      padding: 0 14px;
      height: 60px;
    }
    .flex {
      display: flex;
      align-items: center;
    }
    .logo {
      max-width: 280px;
      max-height: 50px;
      width: 150px;
      height: 45px;
      cursor: pointer;
      @media screen and (max-width: 1005px) {
        max-width: 120px;
        max-height: 30px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
      }
    }
    ::v-deep.h-search {
      width: 298px;
      height: 44px;
      margin-left: 30px;
      @media screen and (max-width: 1005px) {
        width: 180px;
        height: 30px;
      }
      .el-input__inner {
        width:100%;
        height:100%;
        padding-left:30px;
        padding-right:50px;
        border-radius:22px;
        color: #606266;
        border-color: rgba(237,237,237,0.66);
        @media screen and (max-width: 1005px) {
          height: 30px;
          line-height: 30px;
        }
        &:focus{
          border-color: rgba(234, 61, 90, 0.3);
        }
      }
      .el-input__icon {
        position:absolute;
        top:50%;
        margin-top:-11px;
        margin-left:-35px;
        width:22px;
        height:22px;
        color: #8590a6;
        cursor:pointer;
        @media screen and (max-width: 1005px) {
          width: 16px;
          height: 16px;
          margin-top:-8px;
          margin-left:-24px;
        }
        &:hover{
          color: rgba(234, 61, 90, 0.6);
        }
      }
    }

    .h-button {
      width: 60px;
      height: 35px;
      border-color: $color-blue-base;
      font-size: 14px;
      border-radius: 2px;
      transition: all 0.2s ease-in-out;
      opacity: .8;
      &.h-button1 {
        background: $color-white;
        color: $color-blue-base;
        &:hover{
          opacity: 1;
        }
      }
      &.h-button2 {
        color: $color-white;
        background: $color-blue-base;
        &:hover{
          opacity: 1;
        }
      }
    }
    .menu-item {
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 14px;
      color: #666666;
      cursor: pointer;
      @media screen and (max-width: 1005px) {
        margin-left: 10px;
      }
      &:hover{
        color: $color-red-pay;
      }
      .menu-icon{
        margin-right: 3px;
        font-size: 25px;
      }
      .menu-icon-voice{
        font-size: 28px;
      }
      .unread-notice {
        font-size: 12px;
        color: #fff;
        background: #ff0000;
        padding: 1px 6px;
        border-radius: 6px;
        margin-left: 3px;
      }
    }
    .user-name {
      max-width: 290px;
      padding-right: 30px;
      font-size:18px;
      color: $color-black;
      border-right:1px solid #eee;
    }
  }
}
.search-logo {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}