$color-blue-base: #ea3d5a; // 为减少代码改变，直接切换颜色值
$font-color-grey: #c5c6cb;
$color-blue-deep: #ea3d5a;
$line-color-base:#f4f4f4;
$color-red-pay:#ea3d5a; // 支付场景主色调
$color-background-hover: rgba(229, 242, 255, 0.3); // 悬停背景
$color-background-hover-red1: rgba(234, 61, 90, 0.2);
$color-background-hover-red2: rgba(234, 61, 90, 0.8);
$color-border-hover: rgba(234, 61, 90, 0.5);
$color-white: #ffffff; // 纯白
$color-black: #000; // 纯黑
$color-333: #333;